/* HEADER */
.header-banner {
	position: relative;
	height: 525px;
	background-image: url('../images/header_top_bg.jpg');
	background-size: cover;
	background-position: center;
	img {
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		margin: auto;
	}
}

.header-line {
	height: 30px;
	border-top: 5px solid #311862;
	background: linear-gradient(#5501b4, #4f0096, #4a0079);
}

.header-main {
	padding: 15px 0;
	background-image: url('../images/header_main_bg.png');
	background-repeat: repeat-x;
	background-color: $blue;
	border-bottom: 1px solid #311862;
}

.logo {
	a {
		display: inline-block;
	}
}

.socials {
	text-align: right;
	margin-top: 25px;
	a {
		display: inline-block;
		margin: 0 3px;
		&:hover {
			opacity: .8;
		}
	}
}

.add-casino {
	margin-top: 25px;
	text-align: right;
	a {
		@include common-btn (#e3fe30, #54740f, #709418);
		padding: 12px 40px;
		font-size: 14px;
		color: #456110;
		font-family: 'OpenSansSemibold';
		text-shadow: 1px 1px #acbe80;
	}
}

.header-menu {
	position: relative;
	background-image: url('../images/header-menu-decor.png'), linear-gradient(lighten($purple, 10%), $purple);
	background-repeat: repeat-x;
}

.menu {
	text-align: center;
	a {
		position: relative;
		display: inline-block;
		line-height: 57px;
		font-size: 14px;
		color: #fff;
		font-family: 'OpenSansSemibold';
		text-transform: uppercase;
		padding-right: 30px;
		padding-left: 30px;
		text-shadow: 0 0 25px #7f23c2;
		&:first-child {
			padding-left: 0;
		}
		&:last-child {
			padding-right: 0;
			&::after {
				display: none;
			}
		}
		&::after {
			position: absolute;
			content: '';
			top: calc(50% - 12px);
			right: 1px;
			height: 24px;
			border-left: 1px solid #170c1f;
			border-right: 1px solid #3c2b47;
		}
		&:hover {
			opacity: .7;
		}
	}
}

.mob-menu-btn {
	display: inline-block;
	line-height: 57px;
	color: darken(#fff, 20%);
	font-size: 24px;
}
/* END HEADER */