/*  HOME PAGE */
//slider
.slider {
	padding: 60px 0 40px;
	border-bottom: 1px solid #d393ff;
}

.slider-main {
	border: 10px solid rgba(255, 255, 255, 0);
	box-shadow: 0px 0px 51px -3px rgba(255,255,255,.5);
}

.slider-main-slide {
	img {
		width: 100%;
	}
}

.slick-prev {
	position: absolute;
	top: calc(50% - 206px / 2);
	left: -110px;
	z-index: 100;
	background-image: url('../images/slider-main-arrow-left.png');
	width: 116px;
	height: 206px;
}

.slick-next {
	position: absolute;
	top: calc(50% - 206px / 2);
	right: -110px;
	z-index: 100;
	background-image: url('../images/slider-main-arrow-right.png');
	width: 116px;
	height: 206px;
}

.slick-dots {
	position: absolute;
	padding: 0;
	left: 0;
	right: 0;
	bottom: -62px;
	text-align: center;
	li {
		list-style-type: none;
		display: inline-block;
		button {
			color: transparent;
			width: 20px;
			height: 20px;
			background-color: #000;
			border-radius: 50%;
			margin: 0 6px;
			border: 2px solid #5a3e7a;
		}
	}
}

.slick-active {
	button {
		background: linear-gradient(#ffce1d, #f26d0d);
	}
}

//main section
.main-home {
	padding: 60px 0 80px;
}

.top-games-section {
	margin-top: 45px;
}

.top-game-item {
	float: left;
	width: calc(165px + 8px + 2px);
	margin-right: calc((100% - 175px * 5) / 4) ;
	display: block;
	&:last-child {
		margin-right: 0;
	}
	&:hover {
		opacity: .8;
	}
}

.top-game-img {
	display: block;
	border: 1px solid #9e4fff;
	border-radius: 4px;
	background-color: #3e2d52;
	overflow: hidden;
	img {
		display: block;
		border: 2px solid #000;
		width: 165px;
		height: 105px;
		margin: 4px;
	}
}

.top-game-text {
	display: block;
	margin-top: 6px;
	font-family: 'OpenSansSemibold';
	font-size: 14px;
	color: #fff;
	text-align: center;
	border: 1px solid #480076;
	border-radius: 4px;
	padding: 4px;
	background: linear-gradient(#a72efc, #741ebd);
	min-height: 50px;
}

.casino-item-left {
	float: left;
	width: 75%;
	border-right: 1px solid #554077;
}

.casino-item-right {
	float: right;
	width: 25%;
}

.main-casino-desc-block {
	padding: 40px 0;
}

.main-casino-desc-item {
	position: relative;
	/*background-image: url('../images/box-large.png');
	background-repeat: no-repeat;
	background-size: cover;*/
	background: linear-gradient(#38186a, #220e52);
	border-radius: 4px;
	//height: 315px;
	//min-height: 315px;
	padding: 40px;
	margin-top: 50px;
	border: 2px solid #3e2063;
	outline: 1px solid #514577;
	outline-offset: -10px;
		/*&::before {
		position: absolute;
		content: '';
		top: 8px;
		bottom: 8px;
		left: 8px;
		right: 8px;
		width: calc(100% - 16px);
		height: calc(100% - 16px);
		border-radius: 4px;
		border: 1px solid #514577;
	}*/
}

.casino-image-score {
	float: left;
	width: 25%;
}

.casino-item-image {
	position: relative;
	width: 203px;
	height: 157px;
	background-image: url('../images/box-small.png');
	background-repeat: no-repeat;
	background-size: cover;
	img {
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		margin: auto;
	}
}

.casino-item-score {
	p {
		text-align: center;
		color: #a0a0a0;
		font-size: 16px;
		font-family: 'OpenSansRegular';
	}
}

.casino-item-score-list {
	margin-top: 15px;
	text-align: center;
	li {
		display: inline-block;
	}
}

.casino-desc-cards {
	float: right;
	width: 75%;
	padding: 0 30px;
	h3 {
		font-family: 'OpenSansBold';
		font-size: 24px;
		color: #fff;
	}
	p {
		font-family: 'OpenSansRegular';
		font-size: 14px;
		color: #fff;
		opacity: .7;
		margin-top: 25px;
	}
}

.casino-cards-list {
	margin-top: 30px;
	li {
		display: inline-block;
		margin-right: 3px;
	}
}

.casino-item-right {
	text-align: center;
	h2 {
		font-size: 43px;
		font-family: 'OpenSansExtrabold';
		color: #fff;
	}
	p {
		font-family: 'OpenSansSemibold';
		font-size: 14px;
		color: #a0a0a0;
	}
}

.casino-item-btn-block {
	margin-top: 25px;
	a {
		display: block;
		width: 180px;
		padding: 10px 0;
		margin: 0 auto;
		font-size: 16px;
		font-family: 'OpenSansBold';
		&:first-child {
			@include common-btn (#5bb3f0, #0c84be, #2178b4);
			color: #fff;
			text-shadow: 1px 1px 1px #06517a;
		}
		&:last-child {
			@include common-btn (#ffc300, #ff7600, #8a4106);
			color: #8a4106;
			text-shadow: 1px 1px 1px #fff;
			margin-top: 10px;
		}
	}
}
/*  END HOME PAGE */