/*==========  Non-Mobile First Method  ==========*/

    /* Large Devices, Wide Screens */
    @media only screen and (max-width : 1200px) {

    	.casino-item-left {
    		float: none;
    		width: 100%;
    		border-right: none;
    		margin-top: 20px;
    	}

    	.casino-item-right {
    		float: none;
    		width: 100%;
    		margin-top: 20px;
    		padding-top: 10px;
    		border-top: 1px solid #554077;
    	}

    	.casino-image-score {
    		float: none;
    		width: 100%;
    	}

    	.casino-desc-cards {
    		float: none;
    		width: 100%;
    		margin-top: 30px;
    		text-align: center;
    	}

    	.casino-item-image {
    		margin: 0 auto;
    	}

    }

    /* Medium Devices, Desktops */
    @media only screen and (max-width : 992px) {

    	.socials {
    		text-align: right;
    	}

    	.add-casino {
    		text-align: center;
    	}

    	.top-game-item {
    		margin-bottom: 10px;
    		margin-top: 10px;
    		margin-right: calc((100% - 175px * 3) / 2);
    		&:nth-child(5n) {
                margin-right: calc((100% - 175px * 3) / 2);
            }
            &:nth-child(3n) {
               margin-right: 0;
           }
       }

       .casino-full-right {
          margin-top: 30px;
          text-align: center;
          & > a {
           margin-left: auto;
           margin-right: auto;
       }
   }

   .casino-full-table {
      .table {
       tr {
        td {
         padding-left: 8px;
     }
 }
}
}

.casino-full-bonus-item {
  img {
   margin-right: 20px;
}
h2 {
   text-align: left;
}
p {
   text-align: left;
}
}

.casino-full-bonus-list {
  margin-left: 40px;
  margin-bottom: 15px;
}

.slot-table {
    margin-right: 25px;
}

.slot-body-right {
    margin-left: 25px;
}

.section-title-left {
    .section-title {
        float: none;
    }
    .form-select-item {
        float: none;
        margin-top: 20px;
    }
}

}

    /* Small Devices, Tablets */
    @media only screen and (max-width : 768px) {

    	.logo {
    		text-align: center;
    	}

    	.socials {
    		text-align: center;
    	}

    	.menu {
    		display: none;
    		position: absolute;
    		top: 57px;
    		left: 0;
    		right: 0;
    		background-color: $purple;
    		text-align: center;
    		z-index: 9999;
    		a {
    			padding: 0;
    			margin: 0 15px;
    			text-decoration: underline;
    			&::after {
    				display: none;
    			}
    		}
    	}

    	.top-games-section {
    		margin-top: 20px;
    	}

    	.top-game-item {
    		float: none;
    		margin: 30px auto 0 !important;
    	}

        .slots-list-items {
           .top-game-item {
            margin-bottom: 35px !important;
        }
    }

    .nice-select {
        max-width: 280px;
        margin-left: auto;
        margin-right: auto;
    }

    .form-select-item {
        h6 {
            text-align: center;
        }
    }

    .form-submit {
        text-align: center;
        button {
            margin: 5px;
            &:first-child {
                margin-right: 0;
            }
        }
    }

    .form-check {
        text-align: center;
    }

    .check-item {
        margin-left: 15px;
        margin-right: 15px;
    }

    .slot-header-video, .slot-video-slider-item {
        position:relative;
        padding-bottom:56.25%;
        padding-top:30px;
        height:0;
        overflow:hidden;
        iframe, object, embed {
            position:absolute;
            top:0;
            left:0;
            width:100%;
            height:100%;
        }
    }

    .slick-video-prev {
        left: 0;
        width: 50px;
    }

    .slick-video-next {
        right: 0;
        width: 50px;
    }

    .slot-table {
        margin-left: 0;
        margin-right: 0;
    }

}

    /* Extra Small Devices, Phones */ 
    @media only screen and (max-width : 480px) {

    	.casino-full-bonus-item {
    		img {
    			margin-right: 10px;
    		}
    		h2 {
    			text-align: right;
    			margin-top: 0;
    		}
    		p {
    			text-align: right;
    		}
    	}

    	.casino-full-bonus-list {
    		margin-left: 10px;
    	}

        .title-score-left {
            float: none;
        }

        .title-score-right {
            float: none;
            width: 100%;
            margin-top: 20px;
            .casino-item-score-list {
                float: none;
            }
            p {
                float: none;
                margin: 0;
            }
        }

        .zanos-item-video {
            box-shadow: none;
        }

    }

    /* Custom, iPhone Retina */ 
    @media only screen and (max-width : 320px) {

    }