/* page slot full */
.main-slot-full {
	@extend .main-casino-full;
}

.title-score {
	padding: 25px 30px;
	background-color: #1e1325;
	h3 {
		font-family: 'OpenSansBold';
		font-size: 24px;
		color: #fff;
	}
	.casino-item-score-list {
		text-align-last: left;
		float: left;
	}
	p {
		float: left;
		color: #a0a0a0;
		font-size: 16px;
		font-family: 'OpenSansRegular';
		margin-left: 15px;
		margin-top: 20px;
	}
}

.slot-header {
	background-color: #6631b4;
	border-top: 1px solid #b954ff;
	border-bottom: 1px solid #b954ff;
	box-shadow: inset 0px 0px 50px 10px rgba(0, 0, 0, 0.5);
}

.slot-header-img {
	margin: 25px 0;
	img {
		border: 3px solid #fff;
		max-height: 250px;
	}
}

.slot-header-video {
	margin: 25px 0;
	iframe {
		border: 3px solid #fff;
		display: block;
		margin: 0 auto;
	}
}

.slot-body {
	background-color: #1e1325;
}

.slot-table {
	background-color: #1e1325;
	//padding: 40px 0;
	margin-top: 40px;
	margin-left: 25px;
	.table {
		margin-bottom: 0;
		border-left: none;
		border-right: none;
		tr {
			td {
				border-color: #0d0313;
				//height: 25px;
				vertical-align: middle;
				padding-left: 20px;
				font-size: 12px;
				color: #fff;
				font-family: 'OpenSansRegular';
				&:first-child {
					border-left: none;
					box-shadow: -1px -1px 0px #2f2535 inset;
				}
				&:last-child {
					border-right: none;
					box-shadow: 0px -1px 0px #2f2535 inset;
				}
			}
		}
	}
	.table-striped > tbody > tr:nth-of-type(odd) {
		background-color: #1e1325;
	}
	.table-striped > tbody > tr:nth-of-type(even) {
		background-color: #271c2e;
	}
}

.no-bt {
	border-top-color: transparent !important;
}

.table-responsive {
	border: none;
}

.slot-body-right {
	margin-top: 50px;
	margin-right: 25px;
}

.slot-body-right-text {
	p {
		font-size: 14px;
		line-height: 20px;
		font-family: 'OpenSansRegular';
		color: #c7aaf7;
	}
}

.slot-video-slider {
	margin-top: 30px;
}

.slot-video-slider-item {
	padding: 0 50px;
	iframe {
		display: block;
	}
}

.slick-video-prev {
	position: absolute;
	top: calc(50% - 25px);
	left: 10px;
	background-image: url('../images/slider-video-arrow-left.png');
	background-position: center;
	background-repeat: no-repeat;
	width: 30px;
	height: 50px;
	z-index: 10;
}

.slick-video-next {
	position: absolute;
	top: calc(50% - 25px);
	right: 10px;
	background-image: url('../images/slider-video-arrow-right.png');
	background-position: center;
	background-repeat: no-repeat;
	width: 30px;
	height: 50px;
	z-index: 10;
}

.title-slider {
	background-color: #1e1325;
	padding-top: 60px;
	h4 {
		font-size: 18px;
		color: #fff;
		font-family: 'OpenSansSemibold';
		margin-left: 25px;
		margin-bottom: 7px;
	}
	hr {
		border: none;
		height: 8px;
		background-color: #000;
		margin: 0;
	}
}

.line-yellow {
	background: linear-gradient($top-yellow, $bottom-yellow);
	height: 18px;
	border: 1px solid #ffa916;
}

.slider-yellow {
	border: 1px solid #f15209;
	background: linear-gradient($top-yellow, $bottom-yellow);
	padding: 20px;
}

.slider-yellow-item {
	text-align: center;
	& > div {
		width: 170px;
		margin: 0 auto;
		position: relative;
		img {
			border: 5px solid #fddd84;
			border-radius: 6px;
			margin: 0 auto;
		}
		span {
			position: absolute;
			display: block;
			height: 20px;
			bottom: 5px;
			left: 5px;
			right: 5px;
			background-color: rgba(0,0,0, .5);
			font-family: 'OpenSansBold';
			font-size: 16px;
			text-transform: uppercase;
			color: #fff;
		}
	}
	h5 {
		font-family: 'OpenSansSemibold';
		font-size: 16px;
		color: #fff;
		margin: 15px 0;
	}
	a {
		display: block;
		font-family: 'OpenSansBold';
		font-size: 16px;
		text-transform: uppercase;
		color: #000;
		width: 140px;
		margin: 0 auto;
		padding: 10px 0;
		background: linear-gradient(#ffdf71, #ffc61a);
		border: 1px solid #f47e10;
		border-radius: 4px;
		&:hover {
			background: linear-gradient(#ffc61a, #ffdf71);
		}
	}
}

.slick-prev-yellow-slider {
	position: absolute;
	top: 50px;
	left: 10px;
	background-image: url('../images/arrow-white-left.png');
	background-position: center;
	background-repeat: no-repeat;
	width: 30px;
	height: 50px;
	z-index: 10;
}

.slick-next-yellow-slider {
	position: absolute;
	top: 50px;
	right: 10px;
	background-image: url('../images/arrow-white-right.png');
	background-position: center;
	background-repeat: no-repeat;
	width: 30px;
	height: 50px;
	z-index: 10;
}
/* end page slot full */